# generic files to ignore
*.htaccess
.DS_Store
*.lock
*.swp
*.out
*.pyc
*~
.nfs*
modelling/tmp
modelling/inputs
modelling/outputs
modelling/tmp_outputs
modelling/config/environment.cfg
.vagrant
env
*.bak
