---
layout: post
title:  The Team
layout: post
author: daniel
tags:   [andsProject, andsProjectTeam, andsSkills, andsApps, andsAP03, fundedByAustralianNationalDataService]
---

<style>
    .person               { margin-top: 2em;                        }
    .teamshot figcaption  { font-style: italic;                     }
    .teamshot img         { width: 100%;        border: 0;          }
    .avatarwrapper        { float: left;        padding: 0 1em 0 0; }
    .person p             { clear: both;                            }
</style>

<figure class="teamshot">
    <img src="{{site.JB.BASE_PATH}}/images/theteam.png" />
    <figcaption>The team's Google Hangout photostrip</figcaption>
</figure>

<div class="person">
    <a name="marianne"></a>
    {% assign marianne = site.people['marianne'] %}
	{% if marianne.gravatar %}
	    <div class="avatarwrapper">
       		<img class="avatar" src="http://www.gravatar.com/avatar/{{ marianne.gravatar }}?s=64">
	    </div>
	{% endif %}
	<h2>Marianne Brown</h2>
	<h3>Project Manager</h3>
	<p>
    Marianne has worked in the IT industry since 1994 in a variety of roles
    from research programmer, university lecturer, software engineer and
    systems analyst and designer. She has been employed at the eResearch Centre
    at James Cook University since 2009, working on various web application
    projects and has been involved in several ANDS/QCIF funded projects: </p>
    <ul>
        <li><i>EIF046 - Tropical Data Hub Portal</i> - created a Plone product
        to add a simple metadata repository to a Plone site. <br> 
        The code and documentation is available from the <a
            href="http://jcu-eresearch.github.com/tdh.metadata">github
            site</a>.</li>
        <li><i>SC23 - Tropical Data Hub Collection Discovery and Description</i>
        - this project's aim was to use the system developed in EIF046 to enter
        metadata records for JCU research data and have these harvested by ANDS
        for publication on <a href="http://services.ands.org.au/">Research 
        Data Australia</a>. By the end of the project, 68 collection records had
        been collected and published.
        </li> 
    </ul>
    <p>
    Currently, Marianne is managing a number of ANDS funded projects.</p>
</div>

<div class="person">
    <a name="daniel"></a>
    {% assign daniel = site.people['daniel'] %}
	{% if daniel.gravatar %}
	    <div class="avatarwrapper">
       		<img class="avatar" src="http://www.gravatar.com/avatar/{{ daniel.gravatar }}?s=64">
	    </div>
	{% endif %}
  	<h2>Daniel Baird</h2>
    <h3>Software Engineer and Tech Lead</h3>
    <p>
      Daniel has bachelor degrees in Psychology and Computer Science, and
      has worked in sofware and technology for fifteen years.  His experience
      ranges though the retail, higher education and corporate sectors.  Most
      recently Daniel served as the Chief Technology Officer for Code Valley,
      organising and directing foundational research into the nature of how
      sofware is constructed.
    </p><p>
      Daniel has developed commercially deployed software in Borland Delphi,
      Java Swing, C++Builder, PHP, Microsoft Access, Crystal Reports,
      ColdFusion, Ruby, and web technologies.  He has been a significant
      contributor to the <a href="http://tiddlywiki.com">TiddlyWiki</a> 
      community and with Simon Baird, founded the wiki hosting 
      site <a href="http://tiddlyspot.com">tiddlyspot.com</a>.
    </p>
</div>

<div class="person">
    <a name="robert"></a>
    {% assign robert = site.people['robert'] %}
	{% if robert.gravatar %}
	    <div class="avatarwrapper">
       		<img class="avatar" src="http://www.gravatar.com/avatar/{{ robert.gravatar }}?s=64">
	    </div>
	{% endif %}
    <h2>Robert Pyke</h2>
    <h3>Software Engineer</h3>

    <p>
      Robert is a developer for the Centre For Tropical Biodiversity &amp; Climate Change and a student at JCU. He is studying
      Computer Systems Engineering and Information Technology.
      In his previous role as Senior Software Engineer at Code Valley, he was responsible for
      researching, designing and implementing novel company technologies.
    </p>
    <p>
      Robert is an active member of the developer community, and acts as the NQLD ACS
      Chapter student representative.
    </p>
    <p>
      Robert has participated in a variety of coding competitions. His team placed first in
      Australia in 2009's IEEEXtreme Programming Competition.
    </p>

    <p>
    Technologies familiar with:
    <ul>
        <li>Ruby, Java, HTML, CSS, JSON/XML/YAML, Javascript</li>
        <li>Google App Engine, Google APIs, AWS, NodeJS, Heroku, Netbeans
        Module Development, Ruby On Rails, PHP, Lex/Yacc/JavaCC</li>
        <li>Vim, Netbeans</li>
        <li>Git, Subversion</li>
    </ul>
    </p>
</div>

<div class="person">
    <a name="tom"></a>
        {% assign tom = site.people['tom'] %}
	    {% if tom.gravatar %}
	        <div class="avatarwrapper">
           		<img class="avatar" src="http://www.gravatar.com/avatar/{{ tom.gravatar }}?s=64">
	        </div>
	    {% endif %}
        <h2>Tom Dalling</h2>
        <h3>Software Engineer</h3>
        <p>
        Tom graduated from JCU with a B.IT/B.Bus double degree in 2009. He
        was employed as a website developer during 2007, and has been doing web
        development on a freelance basis since then. After graduating he
        started working as an OSX software developer.
        </p>
        <p>
        In his spare time, he enjoys game development in OpenGL and C++,
        playing DotA and Minecraft, and cappuccinos.
        </p>

        <p>
        Web techologies familiar with:
        </p>
        <ul>
            <li>Server-side:
                <ul>
                    <li>Languages: Most familiar with PHP, but have used Ruby
                    and Python a little bit (and I'm happy to use them). Fine
                    with C/C++ and bash, if needed.  </li>
                    <li>Software: Apache, MySQL, SQLite. </li>
                    <li>OS: Comfortable on linux and OSX. </li>
                </ul></li>
            <li>Client-side:
                <ul>
                    <li>The usual HTML, CSS, JavaScript (with
                    and without jQuery), and AJAX with JSON or XML.</li>
                    <li>Some experience with Google's Closure Tools </li>
                </ul></li>
            <li> Development:
                <ul>
                    <li>Fluent in Git, Vim, and unix shells</li>
                    <li>Gerrit for code review</li>
                </ul>
            </li>
        </ul>

</div>

<div class="person">
    <a name="lauren"></a>
        {% assign lauren = site.people['lauren'] %}
	    {% if lauren.gravatar %}
	        <div class="avatarwrapper">
           		<img class="avatar" src="http://www.gravatar.com/avatar/{{ lauren.gravatar }}?s=64">
	        </div>
	    {% endif %}
        <h2>Lauren Hodgson</h2>
        <h3>Domain Expert</h3>
        <p>
        Lauren Hodgson completed a Bachelor of Science (Zoology) in 2006 at
        James Cook University and immediately began work as a research
        assistant on a project that determined the impacts of weed management
        on reptiles and amphibians. Since 2009, she has worked both for the
        Centre for Tropical Biodiversity and Climate Change (CTBCC) and the
        NCCARF Terrestrial Biodiversity Adaptation Research Network.  </p>
        <p> 
        Through this work, she has taken an interest in modeling our capacity
        to adapt to climate change. Presently, she is involved with the
        modeling of current and future impacts and adaptation opportunities for
        Australian crops; the pond-based aquaculture industry; and freshwater
        and terrestrial refugia for biodiversity.  She has also recently become
        involved in projects aimed at presenting research outputs to the public
        via online interfaces.  
        </p>
        <p>
        Lauren liaises between the researchers and developers.
        </p>
</div>


