
img {
    /* OMFG eff-ing IE OMG@!! */
    position: relative;
}

caption {
    caption-side: bottom;
    font-style: italic;
    font-size: 80%;
}

#logo {
    float: left;
    margin-bottom: 1ex;
}
.cc-by {
    padding: 1em 0;
    text-align: left;
    width: 80%;
    margin: auto;
    border-top: 1px silver solid;
}

footer {
    background: white;
    --webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid silver;
    padding: 1ex;
    margin: 20px -20px;
    text-align: center;
}

.ands-acknowledge {
    color: black;
}

.credits {
    padding-top: 10px;
    text-align: center;
}

#cc-logo {
    float: left;
    padding-right: 1em;
}

#qcif-logo {
    width: 60px;
    float: right;
    padding: 5px 10px 0 0px;
}
#ands-logo {
    width: 70px;
    padding-right: 1em;
    float: left;
    margin: 5px;
}

/* headings ------------------------------------- */

h1, h2, h3, h4, h5 {
    xborder: 1px solid red;
    margin: 1.5em 0 1em 0;
    padding: 0.25em 0;
}

h2 {
    border-bottom: 1px solid #ccc;
}

/* sidebar ------------------------------------- */

.sidebar h4 {
    padding-top: 2em;
}

.sidebar h4:first-child {
    padding-top: 0;
}

/* post byline --------------------------------- */

.subtle { color: #666; }

.postedbywrapper, .postedonwrapper {
	display: block;
	padding: 0 1em 0 0;
	margin: 0;
}

.avatarwrapper {
    float: left;
	padding-right: 0.5em;
    height: 3em;        /* the height of the avatar wrapper */
}

.avatarwrapper img {
    position: relative;
    margin-top: 1.5em;  /* half the height of the avatarwrapper */
    height: 32px;       /* known height of the avatar image */
    top: -16px;         /* half the height of the avatar image */
                        /* viola: centered vertically! */
}

/* tag cloud --------------------------------- */

.tag {
    height: 2em;
    margin: 0 0.4em;
    padding-top: 1em;
    xborder: 1px solid pink;
}

.tag a {
    line-height: 1.0;
    position: relative;
}

/* use default to apply to 5 or more posts, and get less */
/* bold and large as the number of associated posts drops */
.tag           a { font-size: 1.8em; top: -0.250em; font-weight: 900; }
.tag.tagcount4 a { font-size: 1.6em; top: -0.200em; font-weight: 700; }
.tag.tagcount3 a { font-size: 1.4em; top: -0.175em; font-weight: 500; }
.tag.tagcount2 a { font-size: 1.2em; top: -0.150em; font-weight: 300; }
.tag.tagcount1 a { font-size: 1.0em; top: -0.125em; font-weight: 100; }

/* footnotes --------------------------------- */
.footnotes {
    font-size: 90%;
}


