@charset "utf-8";

/* all the main things should be full screen size */
html, body, #map {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* DEBUG: the clustering selector can float above */
.clusteroptions {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    font-size: 80%;
    background: #fff;
    opacity: 0.5;
    position: absolute;
    left:0;
    top:100px;
    z-index: 1000000;
    padding: 1em;
}
.clusteroptions legend {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    background: #fff;
    font-size: inherit;
    font-weight: inherit;
    color: #999;
    padding: 0.1em 1em;
}

/*
#user, #flash, #header, #maptools, #footer, .cake-sql-log
{ position: absolute; right: 0; border: 1px solid pink;}
*/

/* things in the maijn layout */
#flash, #header, #footer {
    display: none;
}

/* things in the species map view */
#map {
    z-index: -1;
    background: green;
}

.panel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 10em;
    border: 1px solid pink;
}

#sidebar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 10em;
    border: 1px solid pink;
}

#maptools {
    background: #fff;
    opacity: 0.8;
    padding: 1em;
    position: absolute;
    right: 10%;
    top: 0;    
    width: 80%;
    z-index: 10000;
}


/* openlayers customisations ----------------------------------------------- */
.olControlPanZoom {
    top: 36px;    /* shuffle the pan/zoom bit down below the top panel */
}




/* sql log for the bottom */
.cake-sql-log {
    position: absolute;
    bottom: 5%;
    opacity: 0.5;

