@charset "utf-8";

/* LESS mixins ------------------------------------------------------- */
.allrounded(@radius: 0.5em) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.rounded(@topleft: 0.5em, @topright: 0.5em, @bottomright: 0.5em, @bottomleft: 0.5em) {
    -webkit-border-top-left-radius: @topleft;
    -webkit-border-top-right-radius: @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius: @bottomleft;
    -moz-border-radius-topleft: @topleft;
    -moz-border-radius-topright: @topright;
    -moz-border-radius-bottomright: @bottomright;
    -moz-border-radius-bottomleft: @bottomleft;
    border-top-left-radius: @topleft;
    border-top-right-radius: @topright;
    border-bottom-right-radius: @bottomright;
    border-bottom-left-radius: @bottomleft;
}

.borderbox() {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

/* openlayers fixups -------------------------------------------------- */

/* hide error tiles (don't show pink tiles with image error icons) */
.olImageLoadError {
    background-color: transparent !important;
    xopacity: 0 !important;
    xfilter: alpha(opacity=0) !important;
}

/* overall layout ----------------------------------------------------- */

/* all the main things should be full screen size */
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#header, #content {
    position: absolute;
    left: 0;
    right: 0;
}

#header {
    top: 0;
    height: 50px;
}

#content {
    top: 50px;
    bottom: 0;
}

/* things in the main layout */
#flash, #footer, #sidebar {
    display: none;
}

/* things in the header ----------------------------------------------- */

#header {
    margin: 0;
    background-color: #222;
    color: #ccc;
    z-index: 1000000;
    overflow: hidden;
}

#header:before {
    display: block;
    position: absolute;
    top: 7px;
    left: 4px;
    content: url(../img/edgarlogo41.png);
}

#header h1 { display: none; }

#user {
    float: right;
    margin: 13px 0;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
}

#user a {
    display: inline-block;
    background: white;
    color: #222;
    text-decoration: inherit;
    white-space: nowrap;
    padding: 0 13px;
    margin: 0 13px;
    .allrounded(0.25em);
    font-weight: bold;
}

#user a.login {
    line-height: inherit;
}

#user a.logout {
    background: #999;
}

#user a:hover {
    text-decoration: underline;
}

/* tab triggers in the header ----------------------------------------- */

#tabtriggers {
    position: absolute;
    left: 10%;
    margin: 13px 0 0 0;
    padding: 0;
    line-height: 24px;
    text-decoration: inherit;
}

#tabtriggers li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#tabtriggers li .closed {
    background-color: #222;
    background-color: rgba(34,34,34,0.5); /* #222 with 0.5 opacity */
    color: #999;
    border-top-color: transparent;
}

#tabtriggers li a:hover {
    color: white;
}

#tabtriggers li a {
    font-size: 85%;
    border-top: 2px solid #ccc;
    text-decoration: inherit;
    padding: 0 1em 0;
    display: inline-block;
    height: 50px;
    .allrounded(0.5em);
    background: #333;
    color: #ccc;
    white-space: nowrap;
    cursor: pointer;
}

#tabtriggers li a:before { /* show a disclosure triangle */
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    line-height: 1.1em;
    margin-right: 0.2em;
    text-align: right;
    content: '\25be'; /* 25be is a small downward-pointing triangle */
    opacity: 0.7;
}

#tabtriggers li a.closed:before {
    content: '\25b8'; /* 25b8 is a small right-pointing triangle */
}

.triggeredtab {
    position: absolute;
    top: 50px;
    left: 10%;
    width: 80%; /* if you change this width also edit tabpanel_setup.js */
    background-color: #333;
    color: #ccc;
    z-index: 10000000;
    .rounded(0, 0, 1em, 1em);
}

.triggeredtab .inner {
    .borderbox();
    height: 100%;
    padding: 2em;
    overflow: auto;
}

.triggeredtab p, .triggeredtab ul, .triggeredtab dl, .triggeredtab dt, .triggeredtab dd {
    text-align: left;
    xbackground-color: transparent !important;
    xcolor: inherit;
    xfont-size: inherit;
}

.triggeredtab p, .triggeredtab dl, .triggeredtab ul {
    font-size: 90%;
    margin: 1em 0;
}

.triggeredtab dt {
    margin-top: 0.5em;
}

.triggeredtab p.significant {
    color: #fff;
    text-align: center;
    font-size: inherit;
}

.triggeredtab a {
    color: #fea;
    text-decoration: none;
}

.triggeredtab a:hover {
    text-decoration: underline;
}


/* additionalcontent in triggeredtabs --------------------------------- */

.triggeredtab .additionalcontent {
    margin: 1em 0;
}

.triggeredtab .additionalcontent .opener {
    display: block;
    text-align: left;
    padding: 0.1em 0.5em;
    .allrounded(0.5em);
    cursor: pointer;
}

.triggeredtab .additionalcontent .opener:hover {
    background-color: #555;
}

.triggeredtab .additionalcontent .opener:after {
    content: ' \bb';
}

.triggeredtab .additionalcontent.open .opener:after {
    content: ' \ab';
}

.triggeredtab .additionalcontent .add {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #444;
}

/* funding area ------------------------------ */

.triggeredtab .funding {
    padding-top: 2em;
    font-size: 75%;
}

.triggeredtab .funding img {
    background-color: #fff;
    .allrounded(0.5em);
    border: 1em solid white;
    float: right;
    margin: 0 0 0 1em;
}

.triggeredtab .funding img.goleft {
    float: left;
    margin: 0 1em 0 0;
}

/* things in the "acknowledgements" area ------------------------------ */

#acknowledgements .whitelogos {
    text-align: center;
    background-color: #fff;
    .allrounded(0.5em);
}

#acknowledgements .whitelogos img {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5em 2em;
}

.triggeredtab .funding {
    padding-top: 2em;
    font-size: 75%;
}

.triggeredtab .funding img {
    background-color: #fff;
    .allrounded(0.5em);
    border: 1em solid white;
    float: right;
    margin: 0 0 0 1em;
}

.triggeredtab .funding img.goleft {
    float: left;
    margin: 0 1em 0 0;
}

/* things in the content area ----------------------------------------- */

#map {
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.panel {
    position: absolute;
    z-index: 10000;
    opacity: 0.66;
    background-color: transparent;
    color: black;
}

.panel:hover {
    opacity: 0.9;
}

.top.panel {
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
}

.side.panel {
    right: 0;
    top: 0;
    width: 13em;
    overflow: auto;

    top: 5em; /* height of top panel */
    max-height: ~"-moz-calc(100% - 5em)";
    max-height: ~"-webkit-calc(100% - 5em)";
    max-height: ~"calc(100% - 5em)";
}

/* species panel content ------------------------------------------------ */

.speciespanel {
    text-align: left;
    background: transparent;
    overflow: hidden;
}

.speciespanel button {
    font-size: 80%;
    font-weight: bold;
    padding: 0.25em 0.5em;
}

#currentspecies, #speciesselector {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 1px;
    right: 1px;
    .allrounded(2px);
    background-color: white;
    overflow: hidden;
}

#speciesselector .button-cancelselect {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 6em;
    font-weight: bold;
    padding: inherit 0;
}

#species_autocomplete {
    font-size: 2em;
    position: absolute;
    padding: 0.5em;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#currentspecies .speciesname {
    position: relative;
    height: 4.5em;
    padding: 0.5em 6em 0 1em; /* room at right for change sp btn */
    text-align: left;
    display: inline-block;
}

#currentspecies h1, #currentspecies h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: #444;
}

#currentspecies h1 { /* the common name for a species */
    display: inline;
    font-size: 185%;
    font-weight: normal;
}

#currentspecies h2 { /* the scientific name for a species */
    margin-top: -0.33em;
}

#currentspecies .changebtn {
    position: absolute;
    right: 0.5em;
    top: 1em;
    height: 4em;
    opacity: 0.33;
}

#currentspecies:hover .changebtn { opacity: 0.66; }
#currentspecies .changebtn:hover { opacity: 1;    }

#currentspecies .speciesinfo {
    float: right;
    text-align: right;
    width: 13em; /* same as .side.panel */
    height: 5em;
    xborder: 1px solid blue;
}

#currentspecies .status {
    padding: 10px 10px 0 0;
    margin: 0;
    font-size: 70%;
    font-weight: normal;
    color: #999;
}
#currentspecies .status em {
    font-weight: bold;
    font-style: normal;
    white-space: nowrap;
}

#button_remodel {
    margin: 5px 10px 0 0;
}

/* old vvv ||| new ^^^ */

.minor.label {
    margin: 0;
    padding: 0.2em;
    font-size: 80%;
    font-weight: bold;
    color: #666;
}

#species_showing_label {
    text-align: left;
    display: none;
}

#species_modelling_status {
    float: right;
    text-align: right;
    display: none;
}

/* tools panel content ------------------------------------------------ */

#toolspanel .tool {
    font-size: 80%;
    background-color: white;
    color: black;
    text-align: left;
    margin: 1px;
    padding: 0.2em;
    .allrounded(2px);
}

#toolspanel .tool h1, #toolspanel .tool h2 {
    color: #003d4c;
    background-color: white;
    margin: 0;
    .allrounded(0.25em);
    padding: 0.1em 0.2em;
    font-size: inherit;
}

#toolspanel .tool h1 {
    cursor: pointer;
}

#toolspanel .tool h1:before { /* show a disclosure triangle */
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    line-height: 1.1em;
    margin-right: 0.2em;
    text-align: right;
    content: '\25bc'; /* 25bc is a downward-pointing triangle */
    opacity: 0.7;
}

#toolspanel .tool h1.closed:before {
    content: '\25b6'; /* 25b6 is a right-pointing triangle */
}

#toolspanel .tool .toolcontent {
    background-color: #eee;
    font-size: 90%;
    padding: 0.5em;
    .allrounded(0.25em);
}

#toolspanel .tool ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0.5em;
}

#toolspanel .tool ul li {
    list-style: none;
    padding: 0.2em;
    margin: 0.1em;

}

#layerstool br {
    display: none;
}

#toolspanel input[type="radio"], #toolspanel input[type="checkbox"] {
    float: left;
    font-size: inherit;
    height: 1.7em;
    vertical-align: bottom; /* OpenLayers adds valign: b to the labelSpan */
    width: auto;
    margin: 0 0.5em 0 0; 
}

#toolspanel .labelSpan {
    font-size: inherit;
    display: block;
    height: 1.7em;
    line-height: 1.7em;
}

#toolspanel .dataLayersDiv .labelSpan.loading:before {
    float: right;
    content: url(../img/loading-bar.gif);
}

/* legend panel content ----------------------------------------------- */

#toolspanel .legend .toolcontent {
    text-align: center;
}

/* debug panel content ------------------------------------------------ */

.clusteroptions {
    .allrounded(0.5em);
    font-size: 80%;
    background: #fff;
    z-index: 1000000;
}
.clusteroptions legend {
    .allrounded(0.5em);
    background: #fff;
    font-size: inherit;
    font-weight: inherit;
    color: #999;
    padding: 0.1em 1em;
}


/* openlayers customisations ------------------------------------------ */

/* TODO -> Dan, you should check over this.. */
/* Default: floats to right, changed to float to the left. */
.olControlEditingToolbar div {
    float: left !important;
}

/* cake customisations ------------------------------------------ */

/* sql log for the bottom */
.cake-sql-log {
    position: absolute;
    bottom: 5%;
    opacity: 0.5;
    display: none;
}


/* vetting customisations ------------------------------------------ */
ul.vetting_list li button {
    float: right;
    vertical-align: top;
}

ul.vetting_list li .classification {
    font-weight: bold;
    margin-right: 1em;
    display: inline-block;
    width: 50%;
}
